.mainTitle {
    font-size: 40px;
    color: red;
}

.recipe-title {
    font-size: 30px;
    color: blue;

}


li {
    color: aqua;
}

.link {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    background-color: green;
    padding: 16px;
    margin: 8px;
    display:inline;
}

.des {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
}
